{% include 'header.html' %}


  <section id="testimonial" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="ser-title">Meet our Developers</h2>
          <hr class="botm-line">
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="testi-details">
            <!-- Paragraph -->
            <p>Such an excellent developer especially in the domain of artificial intelligence and web development with 1+ years of experience.</p>
          </div>
          <div class="testi-info">
            <!-- User Image -->
            <a href="#"><img src="{{ url_for('static', filename='img/thumb.png') }}" alt="" class="img-responsive"></a>
            <!-- User Name -->
            <h3>Vishal<span>Mishra</span></h3>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="testi-details">
            <!-- Paragraph -->
            <p>Such an excellent developer especially in the domain of artificial intelligence and web development with 1+ years of experience.</p>
          </div>
          <div class="testi-info">
            <!-- User Image -->
            <a href="#"><img src="{{ url_for('static', filename='img/thumb.png') }}" alt="" class="img-responsive"></a>
            <!-- User Name -->
            <h3>Alex<span>Texas</span></h3>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="testi-details">
            <!-- Paragraph -->
            <p>Such an excellent developer especially in the domain of artificial intelligence and web development with 1+ years of experience.</p>
          </div>
          <div class="testi-info">
            <!-- User Image -->
            <a href="#"><img src="{{ url_for('static', filename='img/thumb.png') }}" alt="" class="img-responsive"></a>
            <!-- User Name -->
            <h3>Alex<span>Texas</span></h3>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="ser-title">Contact us</h2>
          <hr class="botm-line">
        </div>
        <div class="col-md-12 col-sm-12">
          <h3>Contact Info</h3>
          <div class="row">
            <div class="col-md-4"><p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>27th KM Milestone, Delhi - Meerut Expy<br> Ghaziabad.<br></p></div>
            <div class="col-md-4"><p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>wellcare@gmail.com</p></div>
            <div class="col-md-4"><p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>+1 800 123 1234</p></div>
          </div>
          
        </div>
        
      </div>
    </div>
  </section>

{% include 'footer.html' %}
