{% include 'header.html' %}

  <!--service-->
  <section id="service" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <h2 class="ser-title">About Us</h2>
          <hr class="botm-line">
          <p>Our AI-powered healthcare platform where cutting-edge technology meets compassionate care. We are dedicated to providing accurate disease prediction, expert virtual consultations, and personalized recommendations to empower you on your health journey. Our team of healthcare professionals and advanced 
            AI algorithms work hand in hand to deliver reliable and convenient healthcare solutions, ensuring that your well-being is our top priority</p>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-stethoscope"></i>
            </div>
            <div class="icon-info">
              <h4>24 Hour Support</h4>
              <p>The system is able to access 24/7 from anywhere and use can access there health records on mobile or desk.</p>
            </div>
          </div>
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-ambulance"></i>
            </div>
            <div class="icon-info">
              <h4>Disease Prediction</h4>
              <p>The AI algorithm uses advanced technology to predict possible diseases based on the symptoms provided by the user.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-user-md"></i>
            </div>
            <div class="icon-info">
              <h4>Integration with Health Record</h4>
              <p>The portal can integrate with users' health records to provide a more comprehensive analysis of their symptoms and medical history. </p>
            </div>
          </div>
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-medkit"></i>
            </div>
            <div class="icon-info">
              <h4>Secure and Confidential</h4>
              <p> The portal ensures the privacy and security of user data, maintaining confidentiality in all interactions and consultations. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% include 'footer.html' %}
