{% include 'header.html' %}
      

  <section id="cta-1" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="schedule-tab">
          <div class="col-md-4 col-sm-4 bor-left">
            <div class="mt-boxy-color"></div>
            <div class="medi-info">
              <h3>AI Consultation</h3>
              <p>Diagnose your disease/ infection by sharing your experencing symptoms to our AI Model. You can get immediate diagonosis for further treatment</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="medi-info">
              <h3>Health Experts</h3>
              <p>Book your appoinment with our health experts and have a real/ virtual meet as per your convenient</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 mt-boxy-3">
            <div class="mt-boxy-color"></div>
            <style>
              td{
                padding: 5px;
              }
            </style>
            <div class="time-info">
              <h3>Opening Hours</h3>
              <table style="margin: 8px 0px 0px; padding: 2px;" border="1">
                <tbody>
                  <tr>
                    <td>Monday - Friday</td>
                    <td>8.00 - 17.00</td>
                  </tr>
                  <tr>
                    <td>Saturday</td>
                    <td>9.30 - 2.30</td>
                  </tr>
                  <tr>
                    <td>AI Diagnosis</td>
                    <td>Any Time</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--cta-->
  <!--about-->
  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="section-title">
            <h2 class="head-title lg-line">Our Easy <br>Access Services</h2>
            <hr class="botm-line">
            <p class="sec-para">Welcome to our AI-powered healthcare 
              platform where cutting-edge technology meets compassionate care. We are dedicated to providing accurate disease 
              prediction, expert virtual consultations, and personalized recommendations to empower you on your health journey. 
              Our team of healthcare professionals and advanced AI algorithms work hand in hand to deliver reliable and convenient healthcare solutions, 
              ensuring that your well-being is our top priority</p>
          </div>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div style="visibility: visible;" class="col-sm-9 more-features-box">
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>Disease Prediction</h3>
                <p>The AI algorithm uses advanced technology to predict possible diseases based on the symptoms provided by the user. </p>
              </div>
            </div>
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>Virtual Expert Consultation</h3>
                <p>Users have the option to consult with healthcare professionals virtually to discuss their symptoms, receive personalized advice, and get recommendations for further action. </p>
              </div>
            </div>
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>Secure and Confidential</h3>
                <p>The portal ensures the privacy and security of user data, maintaining confidentiality in all interactions and consultations.</p>
              </div>
            </div>
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>Accessible Anytime, Anywhere</h3>
                <p>The portal is accessible 24/7, allowing users to seek guidance and information on potential health concerns anytime and from anywhere. </p>
              </div>
            </div>
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>Integration with Health Records</h3>
                <p>The portal can integrate with users' health records to provide a more comprehensive analysis of their symptoms and medical history. </p>
              </div>
            </div>
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>User-Friendly Interface</h3>
                <p>The platform offers a user-friendly interface that is easy to navigate, allowing users to input their symptoms and access expert consultations seamlessly</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% include 'footer.html' %}
